[en]
min_range_validation = Please make sure your response is greater than ${min}.
max_range_validation = Please make sure your response is less than ${max}.
full_range_validation = Please make sure your response is greater than ${min} and less than ${max}.
min_length_validation = Please make sure the length of your response is greater than ${min} characters.
max_length_validation = Please make sure the length of your response is less than ${max} characters.
full_length_validation = Please make sure the length of your response is between ${min} and ${max} characters.
option_validation = You must choose the other option if you fill in this field.
date_validation = Please select a valid date.
required_validation = You must provide a response for this question.