<!-- General messages css !-->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/mytailoring/css/style-messages.css?{% now "U" %}?{% now "U" %}" media="all" />  
<!-- Project specific css !-->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/mts/css/messages/style-project-messages.css?{% now "U" %}" media="all" />  
<!-- highcharts widgets -->
<script src="{{STATIC_URL}}/mytailoring/js/highcharts.js?{% now "U" %}" type="text/javascript"></script>
<script src="{{STATIC_URL}}/mytailoring/js/highcharts-more.js?{% now "U" %}" type="text/javascript"></script>
<!-- messages script dependency -->
<script src="{{STATIC_URL}}/mytailoring/js/messages.js?{% now "U" %}" type="text/javascript"></script>



