{% extends 'new_base.html' %}   

{% block title %}Messages - {% endblock %}

{% block head_extra %}
    {% include "mytailoring/base_message_head.html" %}
    <!--auto resize iframe height -->
    <script src="{{STATIC_URL}}/mytailoring/js/jquery-iframe-auto-height.plugin.1.9.3.min.js?{% now "U" %}" type="text/javascript"></script>
    <script src="{{STATIC_URL}}/mytailoring/js/jquery.browser.js?{% now "U" %}" type="text/javascript"></script>

    <script type="text/javascript">
        jQuery(document).ready(function($) {    
            ecoach.messages.initReady();
            $('iframe.survey').each(function() {
                if ($(this).parents(".tab-content").length == 0) {
                    $(this).iframeAutoHeight(ecoach.messages.IFRAME_AUTO_HEIGHT_CONFIG);
                }
            });
        });
    </script>
{% endblock %}
 
{% block side %}

<div class="span3" id="side-col-messages">
        <h4> 
            Inbox &nbsp; &nbsp; &nbsp;
            <a href="{% url 'mytailoring:message_view' msg_id='home' %}">
                <i class="icon-home"></i> message
            </a>
        </h4>
    <ul class="nav nav-list side-list">
        <li class="nav-header" data-toggle="collapse" data-target=".side-list-items" >
            <nobr>
                Inbox &nbsp; &nbsp; &nbsp; 
                <a href="{% url 'mytailoring:message_view' msg_id='home' %}">
                    <i class="icon-home"></i> message
                </a>
                <i class="icon-chevron-down pull-right"></i>
                <i class="icon-chevron-up pull-right hide"></i>
            </nobr>
        </li>
        <ul class="nav nav-list collapse side-list-items">

            {% for nn in inbox_nav %}
            <li>
                <a href="{{nn.2}}" class="message {{nn.1}}">{{nn.0|safe}}</a>
            </li>
            {% endfor %}

            <!--
            <li>
                <a href="{% url 'mytailoring:message_view' msg_id='testing' %}" class="message">[DEMO] Kenny's first demo message<br>(testing.message)</a>
            </li>
            <li>
                <a href="{% url 'mytailoring:message_view' msg_id='widgets' %}" class="message">[DEMO] Widgets Open House :)<br>(widgets.message)</a>
            </li>
            <li>
                <a href="{% url 'mytailoring:message_view' msg_id='chem130' %}" class="message read current">[PRACTICE Chem 130]<br>(testing.message)</a>
            </li>
            <li>
                <a href="{% url 'mytailoring:message_view' msg_id='mcdb310' %}" class="message">[PRACTICE MCDB 310]<br>(mcdb310.message)</a>
            </li>
            <li>
                <a href="{% url 'mytailoring:message_view' msg_id='stats250' %}" class="message">[PRACTICE Stats 250]<br>(stats250.message)</a>
            </li>
            <li>
                <a href="{% url 'mytailoring:message_view' msg_id='physicsXYZ' %}" class="message read">[PRACTICE Physics 140,240,135,235]<br>(physicsXYZ.message)</a>
            </li>
            -->
        </ul>
    </ul>
</div>


{% endblock%}


{% block content %}
<div id="message-content" class="span9">
    {% load tailoring2tags %}
    {% tailoring2_debug on %}
    {% render_section treq "Main_Text" %}
</div>
{% endblock %}
