{% extends 'new_base.html' %}

{% comment %}
comment exmaple
{% endcomment %}

{% block title %}Survey - {% endblock %}

{% block head_extra %}
    {% include "mytailoring/base_message_head.html" %}
    <!--auto resize iframe height -->
    <script src="{{STATIC_URL}}/mytailoring/js/jquery-iframe-auto-height.plugin.1.9.3.min.js?{% now "U" %}" type="text/javascript"></script>
    <script src="{{STATIC_URL}}/mytailoring/js/jquery.browser.js?{% now "U" %}" type="text/javascript"></script>

    <script type="text/javascript">
        jQuery(document).ready(function($) {    
            ecoach.messages.initReady();
            $('iframe.survey').each(function() {
                if ($(this).parents(".tab-content").length == 0) {
                    $(this).iframeAutoHeight(ecoach.messages.IFRAME_AUTO_HEIGHT_CONFIG);
                }
            });
        });
    </script>
{% endblock %}
 


{% block content %}
    {% load tailoring2tags %}
    {% load surveytags %}
    <div id="message-content" class="span9">
        <form action="" method="post" id="full-page-survey">
        {% render_survey_segment chunk %}
        <div class="well clearfix">
            {% if previous_url %}
                <a href="{{ previous_url }}" class="btn">« Previous</a>
            {% endif %}
            {% csrf_token %}
            <input type="submit" name="submit" value="Continue »" class="btn btn-primary pull-right">
        </div>
        </form>
    </div>
{% endblock %}


