{% extends 'myusage/base_usage.html' %}

{% block head_extra %}
{% endblock %}

{% block side %}
{% endblock %}


{% block content %}

	<div class="span12">
		<p>
        <br>
        This is the tail of entries in the ELog table...
		</p>
		<div class="row">
			<div class="span12">
                <table class="table table-striped table-bordered table-condensed">
                    <tr>
                        {% for hh in headers %}
                            <th>{{hh}}</th>
                        {% endfor %}
                    </tr>
                    {% for row in tail %}
                        <tr>
                        {% for dd in row %}
                            <td>{{dd}}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
			</div>
		</div>
	</div>	
{% endblock %}

