{% extends 'myusage/base_usage.html' %}

{% block head_extra %}
{% endblock %}

{% block side %}
{% endblock %}


{% block content %}
    <br>
    Distinct (url, category, action, label, value): {{vectors|length}}
    <table class="table table-striped table-bordered table-condensed">
        <tr>
        <th>counts</th>
        <th>url</th>
        <th>category</th>
        <th>action</th>
        <th>label</th>
        <th>value</th>
        </tr>
        {% for vv in vectors %}
            <tr>
            {% for cc in vv %}
                <td>{{cc}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}

