{% extends 'new_base.html' %}

{% block head_extra %}

    <meta http-equiv="pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- loaded elsewhere
    <link type="text/css" rel="stylesheet" href="./css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="./css/bootstrap-responsive.css"/>
    <script type"text/JavaScript" src="./js/jquery-1.10.1.min.js"></script>
    -->

    <!-- keep around...
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nts/css/styles.css?{% now "U" %}" media="all" />

    <script type"text/JavaScript" src="{{ STATIC_URL }}nts/js/prototype.js?{% now "U" %}"></script>
    <script type"text/JavaScript" src="{{ STATIC_URL }}nts/js/model.js?{% now "U" %}"></script>
    <script type"text/JavaScript" src="{{ STATIC_URL }}nts/js/view.js?{% now "U" %}"></script>
    <script type"text/JavaScript" src="{{ STATIC_URL }}nts/js/control.js?{% now "U" %}"></script>
    -->

    <script type="text/javascript"> 

        jQuery(document).ready(function($) {    

            {% block ready_extra2 %}
            {% endblock %}
        });

    </script>

{% endblock %}

{% block title %}Tournament - {% endblock %}

{% block content %}
    <div class='row-fluid'>
        <div class='span12'>
            <br>
            <br>
            Bracket : <strong>{{bracket.name}}</strong>
        </div>
    </div>

    <hr>
    
    {% block bottom %}

    {% endblock %}

{% endblock %}
