{% extends 'mytournament/base_tournament.html' %}

{% block bottom %}
    <div class='row-fluid'>
        <div class='span12'>

<p>
This is an invitation to join a virtual exam prep team for Chemistry 130.  The team will follow an organized online process to <b><em>filter through 400+ problems relevant to Exam 1 in Problem Roulette database</em></b> and bubble up the 25 problems you collectively <b><em>find most relevant</em></b> to the first exam.
</p>

<p>
<b>Benefits to you personally?:</b>
</p>

<ol>
    <li>It will help you reflect on what you're studying and what others are studying :)</li>
    <li>You will see <em>anonymously</em> where you stand compared to your classmates on all the problems you do!</li>
    <li>It will help you make studying <em>slightly</em> more fun :)</li>
</ol>

<b>Participation Requirements (~3 min + ~1 hour + ~10 min + ~5 min + ~1.5 hour <= 3.0 hours):</b>
<ol>
<li>
    <b>~3 minutes -- Make sure you understand the first two steps</b>
    <ul>
    <li>Watch this <a href='http://www.youtube.com/watch?v=Z97nkzqCIYg'>3 minute video</a> <em>SHOWING</em> you how to do the first two steps</li>
    <li><font color='#e06666'>--Do NOW, before you get started--</font></li>
    </ul>
</li>
<li>
    <b>~1 hour -- Take a simulated online exam:</b>
    <ul>
    <li>Follow this <a href='https://problemroulette.lsa.umich.edu/auto_select.php'>special link</a> to problem roulette and do as many problems as you can in 1 hour.  The link will automatically select the right set of problems</li>
    <li>Everyone will receive <b><em>completely random</em></b> draws from the full set of over <b><em>400+ previous exam problems</em></b> in the Problem Roulette database</li>
    <li>Treat this hour of practice like the real exam <b><em>for your own benefit !!!</em></b></li>
    <li><b><em>Notice:</em></b> We will add a few more problems to PR mid week, so those students who complete this step after that will draw from a few more problems.</li>
    <li><font color='#e06666'>--Due by Sunday Oct 6th at midnight--</font></li>
    </ul>
</li>
<li>
    <b>~10 minutes -- Select a "best" problem:</b>
    <ul>
    <li>Review your PR history under the 'My Summary' tab and select one problem which <em>"you think captures something everyone should understand well"</em> for the upcoming exam</li>
    <li>Copy the link identifier to the problem's google doc located at the very bottom of the summary page</li>
    <li>Submit the link identifier as your problem choice (aka game) on the tournament <a href='https://ecoach.lsa.umich.edu/coach8/tournament/01/register/'>registration page</a></li>
    <li><font color='#e06666'>--Due by Sunday Oct 6th at midnight--</font></li>
    </ul>
</li>
<li>
    <b>~5 minutes -- Compare two problems & eliminate one:</b>
    <ul>
    <li>Visit the <a href='https://ecoach.lsa.umich.edu/coach8/tournament/01/vote/'>voting page</a> of our tournament application and decide between the two problems presented to you.</li>
    <li>Select the one <em>"you think is going to be more important to understand in order to do well on the upcoming exam"</em></li>
    <li><font color='#e06666'>--Due by Friday Oct 11th. Available beginning Oct 7th--</font></li>
    </ul>
</li>
<li>
    <b>~1.5 hours -- Take the "bubbled up practice exam":</b>
    <ul>
    <li>Participants will use this 2nd <a href="https://problemroulette.lsa.umich.edu/crowd_sourced_exam.php">special link</a> in PR you will be able to take the "crowd sourced" practice exam</li>
    <li>Everyone will get the same problems on this practice exam, and <b><em>it will be timed</em></b></li>
    <li>On each problem of the practice exam compare your answer and time spent with the anonymous data about your classmates</li>
    <li><font color='#e06666'>--Available beginning Oct 11th--</font></li>
    </ul>
</li>
</ol>

<p>
Enjoy :)
</p>
<p>
Sincerely, 
</p>
<p>
Your ECoaches
</p>

        </div>
    </div>
{% endblock %}



