{% extends 'staff_page.html' %}

{% block content %}
    <div class='row-fluid'>
        <div class='span12'>
            <br>
            bracket:<strong> {{bracket.name}} </strong>
            <hr>

            <form id='theform' action="{% url 'tourney:bracket:manage_competitors' bracket=bracket.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}

            {{competingform.as_p}}
            <br>
            <input type="submit" value="Submit"/> 

            <hr>
            total competitors:<strong> {{compformset|length}} </strong>
            <br>
            <br>
            {{compformset.management_form}} 
            <table class="table table-striped table-bordered table-condensed table-hover">
                <tr><th>submission</th><th>status</th><th>who</th></tr>
                {% for form in compformset.forms %}
                    <tr>
                        <td>{{form.id}}<a href="{{form.instance.Game_Url}}" onclick="logger.page_dynamics('man_comps_pdf', '{{form.instance.game}}');" target="_blank">{{form.instance.game}}</a></td>
                        <td>{{form.status}}</td>
                        <td>{{form.comp_name}}</td>
                    </tr>
                {% endfor %}
            </table>
            <br>
            <input type="submit" value="Submit"/> 
        </form>

        </div>
    </div>
{% endblock %}



