{% extends 'staff_page.html' %}

{% block content %}
    <div class='row-fluid'>
        <div class='span12'>
            <br>
            bracket:<strong> {{bracket.name}} </strong>
            <hr>

            <form id='theform' action="{% url 'tourney:bracket:manage_judges' bracket=bracket.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}

            {{importform.as_p}}
            <br>
            <input type="submit" value="Submit"/> 
        </form>

        <hr>
        total judges:<strong> {{bracket.num_judges}} </strong>
        <br>
        percent complete:<strong> (bug) </strong>
        <br>
        <br>
        <table class="table table-striped table-bordered table-condensed table-hover">
            <tr><th>eligible</th><th>decisions</th><th>who</th></tr>
            {% for vv in judges %}
                <tr>
                    <td>{{vv.eligable}}</td>
                    <td>{{vv.decisions}}</td>
                    <td>{{vv.name}}</td>
                </tr>
            {% endfor %}
        </table>

        </div>
    </div>
{% endblock %}



