{% extends 'mytournament/base_tournament.html' %}

{% block ready_extra2 %}
    $('#voteTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
{% endblock %}

{% block bottom %}

{% if status == 'MESSAGE_NON_PART' %}  

<script type="text/javascript">
    jQuery(document).ready(function($) {
        logger.page_dynamics('voting_page', 'msg_non_part')
    });
</script>

    One of the following is true:
    <br>
    <br>
    <ol>
    <li>
    You <strong>will be a voting participant</strong> when this tournament begins but that's not been configured yet
    </li>
    <li>
    The voting has begun but you are not a voter in this tournament 
    </li>
    </ol>
    <br>
    <strong>Everyone can view the results here when tournament is finished.</strong>
{% endif %} 

{% if status == 'MESSAGE_WAIT' %}  

<script type="text/javascript">
    jQuery(document).ready(function($) {
        logger.page_dynamics('voting_page', 'msg_wait')
    });
</script>

    Hold your horses! (stop back in 15-20 minutes)
    <br>
    <br>
    <strong>Consider the following to understand why you have to wait:</strong>
    <br>
    <br>
    <ol>
    <li>
    Voting must take place in rounds in order for the winners to advance.
    </li>
    <li>
    A new round of pairings can not be made until the previous round has completed.
    </li>
    <li>
    The current round of pairings have already been distributed to voters who logged in before you.
    </li>
    </ol>
    <br>
    <br>
{% endif %} 

{% if status == 'MESSAGE_THANKS' %}  

<script type="text/javascript">
    jQuery(document).ready(function($) {
        logger.page_dynamics('voting_page', 'msg_thanks')
    });
</script>

    Thanks for voting, you will find the winner at this same link as soon as the last vote is cast.
{% endif %} 

{% if status == 'MESSAGE_WINNER' %}  

<script type="text/javascript">
    jQuery(document).ready(function($) {
        logger.page_dynamics('voting_page', 'winners')
    });
</script>

    <strong>This tournament is now finished, results are below.</strong>
    <br>
    <br>
    <table class="table table-striped table-bordered table-condensed table-hover">
        <tr>
            <th>Wins</th>
            <th>Losses</th>
            <th>Game</th>
            <th>Comments</th>
        </tr>
        {% for ww in competitors %}
            <tr>
                <td>{{ww.0}}</td>
                <td>{{ww.1}}</td>
                <td>{{ww.2|safe}}</td>
                <td>{{ww.3|safe}}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %} 

{% if status == 'MESSAGE_VOTE' %}  

<script type="text/javascript">
    jQuery(document).ready(function($) {
        logger.page_dynamics('voting_page', 'auto step1')
    });
</script>

<form id='theform' action="{% url 'tourney:bracket:vote' bracket=bracket.id %}" method="post">{% csrf_token %}

    <!-- Nav tabs -->
    <ul id="voteTabs" class="nav nav-tabs">
        <li class="active">
            <a href='#votepane1' onclick="logger.page_dynamics('voting_page', 'step1');">Step 1: Instructions</a>
        </li>
        <li class="">
            <a href='#votepane2' onclick="logger.page_dynamics('voting_page', 'step2');">Step 2: Review A</a>
        </li>
        <li class="">
            <a href='#votepane3' onclick="logger.page_dynamics('voting_page', 'step3');">Step 3: Review B</a>
        </li>
        <li class="">
            <a href='#votepane4' onclick="logger.page_dynamics('voting_page', 'step4');">Step 4: Cast Vote</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <!-- instructions pane -->
        <div class="tab-pane active" id="votepane1">
            {{form.boutid}}
            <font color='red'>
            {{form.ballot.errors}}
            {{form.feedbackA.errors}}
            {{form.feedbackB.errors}}
            </font>
            Votes remaining: {{remaining}}
            <br>
            {% if bracket.prompt != ''  %}
                <br>
                Voting and feedback instructions: 
                <br>
                <br>
                <blockquote>
                    <p>
                    "{{bracket.prompt|safe}}"
                    </p>
                    <small><cite title="">couse instructor</cite></small>
                </blockquote>
            {% endif %}
            <hr>
            Technical instructions:
            <br>
            <ol>
                <li>Use the tabs above to review submissions and provide feedback</li>
                <li>Cast your vote as to which is better</li>
                <li><em><strong>This comparison must be completed within 20 minutes or it may be reassigned!</strong></em></li> 
            </ol>
        </div>

        <!-- review A pane -->
        <div class="tab-pane" id="votepane2">
            <div class="row-fluid">
                <div class="span3">
                    {{form.feedbackA.label}}
                    {{form.feedbackA}}
                </div>
                <div class="span9">
                    <object data="{{compA_link}}" type="application/pdf" width="100%" height="1000px">
                      <p><a href="{{compA_link}}">link to the PDF!</a></p>
                    </object>
                </div>
            </div>
        </div>

        <!-- review B pane -->
        <div class="tab-pane" id="votepane3">
            <div class="row-fluid">
                <div class="span3">
                    {{form.feedbackB.label}}
                    {{form.feedbackB}}
                </div>
                <div class="span9">
                    <object data="{{compB_link}}" type="application/pdf" width="100%" height="1000px">
                      <p><a href="{{compB_link}}">link to the PDF!</a></p>
                    </object>
                </div>
            </div>
        </div>

        <!-- voting pane -->
        <div class="tab-pane" id="votepane4">
            Select the one you think is better:
            <br>
            <br>
            {{form.ballot.label}}
            {{form.ballot}}
            <br>
            <input type="submit" value="Submit" onclick="logger.page_dynamics('voting_page', 'submit');"/> 
        </div>

    </div>
    <!-- end Tab panes -->
</form>
{% endif %} 

{% endblock %}



