
<table>
    <tr><td>MTS Characteristic :</td><td>{{digestion.mts_characteristic}}</td></tr>
    <tr><td>Digestion id :</td><td>{{digestion.id}}</td></tr>
    <tr><td>Digestion name :</td><td>{{digestion.name}}</td></tr>
    <tr><td>Created :</td><td>{{digestion.created}}</td></tr>
    <tr><td>Data file :</td><td>{{digestion.data_file.name}}</td></tr>
    <tr><td>Map file :</td><td>{{digestion.map_file.name}}</td></tr>
    <tr><td>Function :</td><td>{{digestion.function}}</td></tr>
    <tr><td>Inserts :</td><td>{{digestion.inserts}}</td></tr>
    <tr><td>Overwrites :</td><td>{{digestion.overwrites}}</td></tr>
</table>

