{% extends 'info_page.html' %}

{% load url from future %}

{% block content %}

<div class="span9" id="press">
	<h2>E<sup>2</sup>Coach in the News</h2>
	<img class="press img-polaroid" src="{{STATIC_URL}}myselector/images/crlt_logo.jpg">
	<h4>Provost's Teaching Innovation Prize 2012</h4>

	<h5>May 2012</h5>
	<p>The E<sup>2</sup>Coach team was selected as one of five winners of the 2012 UM Provost's Teaching Innovation Prize for their submission: "Better than Expected: Using Tailored Communication to Optimize Learning". You can read more about this award and the other winners <a href="http://www.crlt.umich.edu/node/514">here</a>.</p>
	
	<hr/>
	
	<img class="press img-polaroid" src="{{STATIC_URL}}myselector/images/horizon_report.png">
	<h2>Horizon Report 2012</h2>
		
	<p>February 2012</p>
	<p>Science, Technology, Mathematics, and Engineering (STEM). The University of Michigan uses a system called E<sup>2</sup>Coach in large introductory STEM courses. E<sup>2</sup>Coach uses information about student background, motivations, and recent performance to provide feedback, encouragement, and advice that are tailored to each student. Click <a href="http://www.nmc.org/pdf/2012-horizon-report-HE.pdf">here</a> to see E<sup>2</sup>Coach mentioned on page 24.</p>

	<hr/>
	<img class="press img-polaroid" src="{{STATIC_URL}}myselector/images/slam_logo.jpg">
	<h2>Online talk</h2>
	<p>September 18, 2011</p>
	<p>Professor McKay was the Kickoff speaker in the new SLAM seminar series. You can watch a video of the talk <a href="http://bluestream.dc.umich.edu/ams/video/A1001001A11I19B15954F71788/A1001001A11I19B25712D03549/Sequence%202-slonn.mov">here</a>.</p>
	
	<hr/>
	
	<img class="press img-polaroid" src="{{STATIC_URL}}myselector/images/um_news_and_information_logo.jpg">
	
	<h2>Podcast: NextGen award for Professor</h2>
	<p>May 26, 2011</p>
	<p>U-M professor Tim McKay wins Next Generation Learning Challenge grant for computerized coaching in science classes. Click <a href="http://ns.umich.edu/new/multimedia/8-podcasts/10324-NextGen%20award%20for%20professor">here</a> to listen.</p>
	
	<hr/>

	<img class="press img-polaroid" src="{{STATIC_URL}}myselector/images/logo_annarbor.png">

	<h2>ANN ARBOR: McKay awarded grant from Next Generation Learning Challenge</h2>
	<p>April 26, 2011</p>
	<p>University of Michigan professor Timothy McKay has been awarded a $249,000 grant from the Next Generation Learning Challenge, funded by the Bill and Melinda Gates and William and Flora Hewlett Foundations, one of 29 grants made to institutions for projects that improve learning and graduation rates through the use of technology. Click <a href="http://www.heritage.com/articles/2011/04/21/ann_arbor_journal/news/doc4daa03205940f054791127.txt">here</a> to read more.</p>
	
</div>

{% endblock %}
