{% extends 'myselector/new_base.html' %}

{% load url from future %}

{% block content %}

<div id="singlecolumn">
	<br class="spacer" />
	<p>Tailored communication for personalized coaching first emerged in the field of public health, where it is used to help people accomplish a wide variety of challenging health goals: quitting smoking, improving athletic performance, controlling diabetes, making decisions about cancer treatments, overcoming insomnia, and ending binge eating. The UM Center for Health Communications Research has been a pioneer in this field, and in 2008 created the Michigan Tailoring System, the open-source software suite which powers E<sup>2</sup>Coach. Digital health coaching has also been widely commercialized, most prominently through Ann Arbor’s own Healthmedia Inc. It really works, and today helps millions of people to achieve difficult, highly desired health goals.</p>

	<p>Beginning in Winter 2012, E<sup>2</sup>Coach used the MTS engine to deliver expert advice to introductory physics students here at Michigan. To assemble this advice the E<sup>2</sup>Coach team has interviewed UM faculty members with a combined 150 years of experience teaching introductory physics. We’ve also talked to students, interviewing more than 50 students selected from two groups: some who lead SLC study groups for these courses, and some we picked because they earned grades which were better than expected when they took Physics. All of this advice has been coded into E<sup>2</sup>Coach, where it lies ready for you to use.</p>

	<p>It’s like getting to discuss intro physics with all the faculty members who’ve ever taught it, along with dozens of students who’ve already been through it and figured out the secrets of success.</p>
	<br class="spacer" />
	<br class="spacer" />

	<center><img src="/static/myselector/fall/images/Example_of_Tailoring.png"></center>


<br class="spacer" />
</div>

{% endblock %}
