<!-- These are the attributions for the icons from thenounproject.com that we've used in some of the message styles. They ask that this be included on an "about" page or something similar. It doesn't have to be very prominent, but it should exist somewhere. -->

<div class="attribution muted">
    <a href="http://thenounproject.com/noun/light-bulb/#icon-No11504" target="_blank">Light Bulb</a> designed by <a href="http://thenounproject.com/jeremy.j.bristol" target="_blank">Jeremy J Bristol</a> from The Noun Project<br/>
    <a href="http://thenounproject.com/noun/graduation-cap/#icon-No5927" target="_blank">Graduation Cap</a> designed by <a href="http://thenounproject.com/Nozzman" target="_blank">Bram van Rijen</a> from The Noun Project<br/>
</div>